h1, h2, h3, h4, h5, p {
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
    color: black;
    font-family: geneva;
    font-weight: normal;
}

body {
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

.game_body {
    background-color: #7F7C6A;
}

.navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EAA754;
    padding: 0px 0px 0px 0px;
}

.navbar_blackbar {
    width: 7px;
    background-color: black;
}

#color_bar {
    width: 20px;
    height: 60px;
    background-color: black;
    padding: 0px 1px 0px 1px;
}

.navbar_title {
    padding: 10px 20px 10px 20px;
}

.nav_info {
    background-color: #EAA754;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    padding: 8px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.imgInHand:hover {
    cursor: pointer;
}

/* Client */
.client_body {
    background-color: #7F7C6A;
}

.menu {
    display: flex;
}

.client_left_side {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.client_title_container {
    background-color: #EAA754;
    border: 4px solid black;
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 10px;
}

.formsContainer {
    display: flex;
    padding: 10px 10px 10px 0px;
    border-radius: 25px;
}

.createRoom_div {
    background-color: #EAA754;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    margin-right: 25px;
    border: 5px dashed black;
}

.createRoom_form {
    display: flex;
    flex-direction: column;
    background-color: #7F7C6A;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.joinRoom_div {
    background-color: #EAA754;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: 5px dashed black;
}

.joinRoom_form {
    display: flex;
    flex-direction: column;
    background-color: #7F7C6A;
    border-radius: 12px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.client_right_side {
    display: flex;
    flex-direction: column;
    background-color: #EAA754;
    margin: 10px 25px 10px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: 5px solid black;
    margin-left: 15px;
}

.client_text_decoration_div {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #7F7C6A;
    border-radius: 12px;
}

.inputField {
    margin: 2px 15px 2px 15px;
    width: 200px;
    height: 25px;
    border-radius: 6px;
    border: 2px solid black;
}

.inputField:focus { outline: 0; }

.inputField:hover {
    margin: 2px 10px 2px 10px;
    width: 208px;
    height: 23px;
    border-radius: 6px;
    border: 3px solid blueviolet;
}

#newGameBtn {
    background-color: limegreen;
}

#joinGameBtn {
    background-color: deepskyblue;
}

.btnClient {
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid black;
    margin: 5px 0px 2px 55px;
}

.btnClient:hover {
    width: 160px;
    height: 30px;
    border-radius: 6px;
    border: 3px solid white;
    color: white;
    margin: 5px 0px 2px 50px;
    background-color: blueviolet;
    cursor: pointer;
}

.btnClient:focus { outline: 0; }

.client_createJoin_divs {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: white;
    margin-right: 45px;
}
/* Client */


.container {
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 10px 10px;
    border: 5px solid black;
    border-radius: 15px;
}

.cardPileDivs {
    border-radius: 15px;
    padding: 8px 10px 8px 10px;
    margin: 10px 5px 10px 5px;
    color: white;
    vertical-align: middle;
    line-height: 20px;
}

.p0InDiv {
    color: white;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

.optionsMenu {
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    position: relative;
}

.cardPileImages {
    width: 65px;
    height: 92px;
    animation-name: cardPileImage_animation;
    animation-duration: 1s;
}

@keyframes cardPileImage_animation {
  0% {
      width: 0px;
      height: 0px;
  }
  100% {
      width: 65px;
      height: 92px;
  }
}

#separator {
    background-color: black;
    width: 10px;
    height: 50px;
    border-radius: 8px;
}

.nav_h1 {
    color: black;
}

#nav_ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.nav_li {
    float: left;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 0px;
}

#color_title {
    background-color: #EAA754;
}

#color_egg {
    background-color: #EEE5E9;
}

#color_fold {
    background-color: #FE3D20;
}

#color_play {
    background-color: #6DF260;
}

#color_battle {
    background-color: #4392F1;
}

#color_derby {
    background-color: #9800FF;
}

#color_pass {
    background-color: orange;
}

.buttons_menu {
    display: flex;
    margin: 5px 0px 5px 0px;
}

.bottons {
  background-color: white; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 0px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  outline: 0;
}

#playButton, #startGameButton {
  background-color: white;
  color: black;
  border: 4px solid limegreen;
}

#playButton:hover, #startGameButton:hover {
  background-color: limegreen;
  color: white;
}

#nineButton {
  background-color: white;
  color: black;
  border: 4px solid blueviolet;
  outline: 0;
}

#nineButton:hover {
  background-color: blueviolet;
  color: white;
}

#passButton, #chat_botton {
  background-color: white;
  color: black;
  border: 4px solid tomato;
}

#passButton:hover, #chat_botton:hover {
  background-color: tomato;
  color: white;
}

#foldButton {
  background-color: white;
  color: black;
  border: 4px solid crimson;
  outline: 0;
}

#foldButton:hover {
    background-color: crimson;
}

#battleButton {
  background-color: white;
  color: black;
  border: 4px solid deepskyblue;
  outline: 0;
}

#battleButton:hover {
  background-color: deepskyblue;
  color: white;
}

#sandButton {
  background-color: white;
  color: black;
  border: 4px solid pink;
  outline: 0;
}

#sandButton:hover {
  background-color: pink;
  color: purple;
}

#chat_div {
    background-color: #EAA754;
    border-radius: 10px;
    margin-top: 5px;
}

#chat_input {
    width: 500px;
    height: 30px;
    border-radius: 15px;
    border: 4px solid black;
    font-size: 15px;
    outline: 0;
}

.chat_li {
    font-size: 20px;
    color: purple;
}

.peeps_and_clock {
    display: flex;
    justify-content: space-between;
}

.clock_div {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: 3px dashed black;
    border-radius: 15px;
    padding: 0px 8px 0px 8px;
}

#clock {
    background-color: #EAA754;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
    line-height: 43px;
    border: 3px solid black;
    font-size: 20px;
    width: 45px;
    height: 45px;
    color: black;
}

#clock_text {
    background-color: #7F7C6A;
    font-size: 35px;
    line-height: 45px;
    margin-right: 10px;
}

#round_title {
    background-color: #7F7C6A;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    flex-direction: row;
}

#round_winner {
    background-color: #7F7C6A;
    margin-left: 20px;
    margin-right: 20px;
}

.cardPile_yourHand_title {
    display: flex;
    background-color: #EAA754;
    border-radius: 15px;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
}

#cardPile_h {
    text-align: center;
}

#cardPile_title_table {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
}

#playType {
    font-family: geneva;
}

.rules {
    margin: 10px 25px 10px 25px;
    padding: 5px 5px 5px 5px;
    background-color: #EEE5E9;
    border-radius: 8px;
}
