
p {
    color: black;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

.cardPileDivs {
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 10px 5px;
    color: white;
    vertical-align: middle;
    line-height: 20px;
}

.p0InDiv {
    color: white;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

.optionsMenu {
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
    position: relative;
}

.cardPileImages {
    width: 65px;
    height: 92px;
}

.waitBoard {
    background-color: #EAA754;
    width: 100px;
    height: 50px;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin: 5 5 5 5px;
    line-height: 20px;
    border-radius: 8px;
}

.info {
    background-color: #EAA754;
    width: 100px;
    height: 50px;
    color: black;
    text-align: center;
    vertical-align: middle;
    margin: 20 20 20 20px;
    line-height: 20px;
    border-radius: 8px;
}

#separator {
    background-color: black;
    width: 10px;
    height: 50px;
    border-radius: 8px;
}

#html_body {
    background-color: #7F7C6A;
}

.nav_h1 {
    color: black;
}

#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_li {
    float: left;
    padding: 0px 20px;
}

#color_title {
    background-color: #EAA754;
}

#color_egg {
    background-color: #EEE5E9;
}

#color_fold {
    background-color: #FE3D20;
}

#color_play {
    background-color: #6DF260;
}

#color_battle {
    background-color: #4392F1;
}

#color_derby {
    background-color: #9800FF;
}

#color_pass {
    background-color: #EAA754;
}

#cardPile_title {
    background-color: #EAA754;
    border-radius: 50px;
    width: 200px;
    height: 60px;
}

#cardPile_h {
    text-align: center;
    line-height: 60px;
}

.bottons {
  background-color: white; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#playButton, #startGameButton {
  background-color: white;
  color: black;
  border: 4px solid limegreen;
}

#playButton:hover, #startGameButton:hover {
  background-color: limegreen;
  color: white;
}

#nineButton {
  background-color: white;
  color: black;
  border: 4px solid blueviolet;
}

#nineButton:hover {
  background-color: blueviolet;
  color: white;
}

#passButton, #chat_botton {
  background-color: white;
  color: black;
  border: 4px solid tomato;
}

#passButton:hover, #chat_botton:hover {
  background-color: tomato;
  color: white;
}

#foldButton {
  background-color: white;
  color: black;
  border: 4px solid crimson;
}

#foldButton:hover {
    background-color: crimson;
}

#battleButton {
  background-color: white;
  color: black;
  border: 4px solid deepskyblue;
}

#battleButton:hover {
  background-color: deepskyblue;
  color: white;
}

#chat_div {
    background-color: #EAA754;
    border-radius: 10px;
}

#chat_input {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 4px dashed black;
    font-size: 15px;
}

.chat_li {
    font-size: 20px;
    color: purple;
}

#clock {
    border-radius: 30px;
    line-height: 45px;
    border: 4px solid black;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

#clock_text {
    background-color: #7F7C6A;
    font-size: 35px;
    line-height: 45px;
}

#round_title {
    background-color: #7F7C6A;
    border-radius: 50px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#round_winner {
    background-color: #7F7C6A;
    line-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
